 Created by https://www.toptal.com/developers/gitignore/api/react,windows,git
 Edit at https://www.toptal.com/developers/gitignore?templates=react,windows,git
r
## Git ###
 Created by git for backups. To disable backups in Git:
 $ git config --global mergetool.keepBackup false
.orig
r
 Created by git when using merge tools for conflicts
.BACKUP.*
.BASE.*
.LOCAL.*
.REMOTE.*
_BACKUP_*.txt
_BASE_*.txt
_LOCAL_*.txt
_REMOTE_*.txt
r
## react ###
DS_*
.log
ogs
*/*.backup.*
*/*.back.*
r
ode_modules
ower_components
r
.sublime*
r
sd
humb
ketch
r
## Windows ###
 Windows thumbnail cache files
humbs.db
humbs.db:encryptable
hthumbs.db
hthumbs_vista.db
r
 Dump file
.stackdump
r
 Folder config file
Dd]esktop.ini
r
 Recycle Bin used on file shares
RECYCLE.BIN/
r
 Windows Installer files
.cab
.msi
.msix
.msm
.msp
r
 Windows shortcuts
.lnk
r
# End of https://www.toptal.com/developers/gitignore/api/react,windows,git